---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ul>
			<li>
				<a href="/"> Index</a>
			</li>
			<li>
				<a href="/about"> About</a>
			</li>
			<li>
				<a href="/blog"> Blog</a>
			</li>
			<li>
				<a href="/posts/first-post"> First Blog</a>
				<a href="/posts/post-2"> Post 2</a>
				<a href="/posts/post-3"> Post 3</a>
			</li>
		</ul>

		<h1>Blog</h1>
	</body>
</html>
