---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Minions Bob";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  {
    allPosts.map((post) => (
      <li>
        <BlogPost url={post.url} title={post.frontmatter.title} />
      </li>
    ))
  }
</BaseLayout>
